.Rproj.user
.Rhistory
.RData
.Ruserdata
Bruna_plenary_MS.tex
Bruna_plenary_MS.aux
Bruna_plenary_MS_cache
figures.pptx
drafts
biotropica_original.csl
bruna_supplement.html
response
name.eps
bruna_supplement_files
bruna_supplement_cache
Bruna_plenary_MS.docx
Bruna_plenary_MS_files
drafts_submissions
